---
language: objective-c

before_script:
  - sudo easy_install cpp-coveralls

script:
  - xctool project DTCoreText.xcodeproj -scheme DemoApp build test -sdk iphonesimulator -arch i386 ONLY_ACTIVE_ARCH=NO
  - xctool project DTCoreText.xcodeproj -scheme "Static Library" build test -sdk iphonesimulator -arch i386 ONLY_ACTIVE_ARCH=NO
  - xctool project DTCoreText.xcodeproj -scheme MacUnitTest test -arch x86_64

after_success:
  - ./script/coveralls.sh
