<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>This is the &lt;b&gt;introduction&lt;/b&gt; to the &lt;font color=&quot;blue&quot; face=&quot;Courier&quot;&gt;NSAttributedString&lt;/font&gt; HTML Additions for iOS. Even this very table view here demonstrates that you can easily add HTML formatted text to table views.</string>
		<key>File</key>
		<string>README.html</string>
		<key>Title</key>
		<string>READ ME</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>This demonstrates the features supported by the iOS 6 attributes.</string>
		<key>File</key>
		<string>iOS6.html</string>
		<key>Title</key>
		<string>iOS 6 Compatibility Mode</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Demonstrates CSS styles that are supported so far.</string>
		<key>File</key>
		<string>styles.html</string>
		<key>Title</key>
		<string>CSS Styles</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Demonstrates setting of Line Height</string>
		<key>File</key>
		<string>LineHeight.html</string>
		<key>Title</key>
		<string>Line Height</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Demonstrates really long text. Definitely longer than this meager description.</string>
		<key>File</key>
		<string>LoremIpsum.html</string>
		<key>Title</key>
		<string>Lorem Ipsum</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Demonstrates text alignment via tags and style attributes.</string>
		<key>File</key>
		<string>Alignment.html</string>
		<key>Title</key>
		<string>Text Alignment</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Shows the current level of image support.</string>
		<key>File</key>
		<string>Image.html</string>
		<key>Title</key>
		<string>Image Handling</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Demonstrating support for the HTML5 Video tag when somebody gets around to implement it.</string>
		<key>File</key>
		<string>Video.html</string>
		<key>Title</key>
		<string>Video</string>
	</dict>
	<dict>
		<key>BaseURL</key>
		<string>http://apod.nasa.gov/apod/</string>
		<key>Description</key>
		<string>HTML handles newlines as spaces, but not always.</string>
		<key>File</key>
		<string>APOD.html</string>
		<key>Title</key>
		<string>Space and Newline Handling.</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Extremely long HTML document for profiling and performance tuning</string>
		<key>File</key>
		<string>WarAndPeace.html</string>
		<key>Title</key>
		<string>War &amp; Peace</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Using Custom Fonts registered in info.plist</string>
		<key>File</key>
		<string>CustomFont.html</string>
		<key>Title</key>
		<string>Custom Fonts</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Custom subviews can be affixed over any glyph run.</string>
		<key>File</key>
		<string>Subviews.html</string>
		<key>Title</key>
		<string>Custom Subviews</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Demo of nested HTML lists</string>
		<key>File</key>
		<string>ListTest.html</string>
		<key>Title</key>
		<string>Nested Lists</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Examples and Tests for Arabic and RTL Text</string>
		<key>File</key>
		<string>ArabicTest.html</string>
		<key>Title</key>
		<string>Arabic Text</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Demonstrates multiple different languages display.</string>
		<key>File</key>
		<string>Languages.html</string>
		<key>Title</key>
		<string>Multiple Languages Support</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>This demonstrates how adding an object with a given width and height can be replaced with a custom view.</string>
		<key>File</key>
		<string>Objects.html</string>
		<key>Title</key>
		<string>Custom Objects</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Block-level elements can have a background color and padding.</string>
		<key>File</key>
		<string>TextBoxes.html</string>
		<key>Title</key>
		<string>Text Boxes</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Test Cases for Emoji</string>
		<key>File</key>
		<string>EmojiTest.html</string>
		<key>Title</key>
		<string>Emoji Test</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Test Cases for known issues in CoreText</string>
		<key>File</key>
		<string>CoreTextIssues.html</string>
		<key>Title</key>
		<string>Known CoreText Issues</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Font Sizes</string>
		<key>File</key>
		<string>FontSizes.html</string>
		<key>Title</key>
		<string>Font Sizes</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>This is whatever Oliver is currently playing with. Don&apos;t touch that! &lt;img src=&quot;icon_smile.gif&quot;&gt;</string>
		<key>File</key>
		<string>CurrentTest.html</string>
		<key>Title</key>
		<string>Never mind this file ...</string>
	</dict>
</array>
</plist>
