p.p1 {direction:ltr;}
span.s1 {font-family:'Futura';font-size:32px;color:#fffefe;}
span.s2 {font-family:'Futura';font-size:32px;color:#a52a3a;}
span.s3 {font-family:'Futura CondensedExtraBold';font-size:32px;font-weight:bold;color:#fffefe;}
span.s4 {font-family:'Futura';font-size:32px;color:#ffba2f;}
