<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Arial</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>ArialMT</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Arial</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>Arial-BoldMT</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Arial</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Arial-BoldItalicMT</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Arial</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Arial-ItalicMT</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Baskerville</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>Baskerville</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Baskerville</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>Baskerville-SemiBold</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Baskerville</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Baskerville-SemiBoldItalic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Baskerville</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Baskerville-Italic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Cochin</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>Cochin</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Cochin</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>Cochin-Bold</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Cochin</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Cochin-BoldItalic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Cochin</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Cochin-Italic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Courier</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>Courier</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Courier</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>Courier-Bold</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Courier</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Courier-BoldOblique</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Courier</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Courier-Oblique</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Courier New</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>CourierNewPSMT</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Courier New</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>CourierNewPS-BoldMT</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Courier New</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>CourierNewPS-BoldItalicMT</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Courier New</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>CourierNewPS-ItalicMT</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Georgia</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>Georgia</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Georgia</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>Georgia-Bold</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Georgia</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Georgia-BoldItalic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Georgia</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Georgia-Italic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Gill Sans</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>GillSans</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Gill Sans</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>GillSans-Bold</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Gill Sans</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>GillSans-BoldItalic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Gill Sans</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>GillSans-Italic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Helvetica</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>Helvetica</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Helvetica</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>Helvetica-Bold</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Helvetica</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Helvetica-BoldOblique</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Helvetica</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Helvetica-Oblique</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Helvetica Neue</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>HelveticaNeue</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Helvetica Neue</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>HelveticaNeue-Bold</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Helvetica Neue</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>HelveticaNeue-BoldItalic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Helvetica Neue</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>HelveticaNeue-Italic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Hoefler Text</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>HoeflerText-Regular</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Hoefler Text</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>HoeflerText-Black</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Hoefler Text</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>HoeflerText-BlackItalic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Hoefler Text</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>HoeflerText-Italic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Optima</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>Optima-Regular</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Optima</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>Optima-Bold</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Optima</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Optima-BoldItalic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Optima</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Optima-Italic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Palatino</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>Palatino-Roman</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Palatino</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>Palatino-Bold</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Palatino</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Palatino-BoldItalic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Palatino</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Palatino-Italic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Times New Roman</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>TimesNewRomanPSMT</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Times New Roman</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>TimesNewRomanPS-BoldMT</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Times New Roman</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>TimesNewRomanPS-BoldItalicMT</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Times New Roman</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>TimesNewRomanPS-ItalicMT</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Trebuchet MS</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>TrebuchetMS</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Trebuchet MS</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>TrebuchetMS-Bold</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Trebuchet MS</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Trebuchet-BoldItalic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Trebuchet MS</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>TrebuchetMS-Italic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Verdana</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>Verdana</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Verdana</string>
			<key>Italic</key>
			<false/>
			<key>OverrideFontName</key>
			<string>Verdana-Bold</string>
		</dict>
		<dict>
			<key>Bold</key>
			<true/>
			<key>FontFamily</key>
			<string>Verdana</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Verdana-BoldItalic</string>
		</dict>
		<dict>
			<key>Bold</key>
			<false/>
			<key>FontFamily</key>
			<string>Verdana</string>
			<key>Italic</key>
			<true/>
			<key>OverrideFontName</key>
			<string>Verdana-Italic</string>
		</dict>
	</array>
</plist>
