<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>READ ME</string>
		<key>File</key>
		<string>README.html</string>
		<key>Description</key>
		<string>This is the &lt;b&gt;introduction&lt;/b&gt; to the &lt;font color=&quot;blue&quot; face=&quot;Courier&quot;&gt;NSAttributedString&lt;/font&gt; HTML Additions for iOS. Even this very table view here demonstrates that you can easily add HTML formatted text to table views.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>CSS Styles</string>
		<key>File</key>
		<string>styles.html</string>
		<key>Description</key>
		<string>Demonstrates CSS styles that are supported so far.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Lorem Ipsum</string>
		<key>File</key>
		<string>LoremIpsum.html</string>
		<key>Description</key>
		<string>Demonstrates really long text. Definitely longer than this meager description.</string>
	</dict>
		<dict>
		<key>Title</key>
		<string>Text Alignment</string>
		<key>File</key>
		<string>Alignment.html</string>
		<key>Description</key>
		<string>Demonstrates text alignment via tags and style attributes.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Image Handling</string>
		<key>File</key>
		<string>Image.html</string>
		<key>Description</key>
		<string>Shows the current level of image support.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Video</string>
		<key>File</key>
		<string>Video.html</string>
		<key>Description</key>
		<string>Demonstrating support for the HTML5 Video tag when somebody gets around to implement it.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Space and Newline Handling.</string>
		<key>File</key>
		<string>APOD.html</string>
		<key>Description</key>
		<string>HTML handles newlines as spaces, but not always.</string>
		<key>BaseURL</key>
		<string>http://apod.nasa.gov/apod/</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Never mind this file ...</string>
		<key>File</key>
		<string>CurrentTest.html</string>
		<key>Description</key>
		<string>This is whatever Oliver is currently playing with. Don&apos;t touch that! &lt;img src=&quot;icon_smile.gif&quot;&gt;</string>
	</dict>
</array>
</plist>
