<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--explicit-crossref</key>
	<true/>
	<key>--include</key>
	<array>
		<string>./Documentation/Setup Guide-template.markdown</string>
		<string>./Documentation/Known Issues-template.markdown</string>
		<string>./Documentation/DTCoreText_Demo_App.png</string>
		<string>./Documentation/DTCoreText_Linker_Flags.png</string>
		<string>./Documentation/DTCoreText_Search_Paths.png</string>
		<string>./Documentation/DTCoreText_Reference.png</string>
	</array>
</dict>
</plist>
